/* he{
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
} */
h1{
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.st{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}